<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Personal Representatives</title>

<!-- Angular and Bootstrap files  -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/
			var app = angular.module("viewPersonalRepresentatives", []);
			app
					.controller(
							'repCtrl',
							function($scope, $http) {
								// get all personal representatives of patient and display in table	
								$scope.represntsMe = [];
								$scope.iRepresent = [];
								$http
										.get("/iTrust2/api/v1/diagnoses")
										.then(
												function(response) {
													$scope.diagnoses = response.data;
													$scope.message = "";
												},
												function(rejection) {
													$scope.diagoses = [];
													$scope.message = "Unable to display diagnoses";
												});

								$scope.isValid = true;

								$scope.declareRep = function(repUsername) {
									$http
											.host(
													"/iTrust2/api/v1/reps/"
															+ repUsername)
											.then(
													function(response) {
														$scope.representsMe
																.push(repUsername);
														$scope.message = "";
													},
													function(rejection) {
														$scope.message = "Could not add personal representative."
													});
								}

								$scope.undeclareRep = function(username) {
									$http
											.post(
													"/iTrust2/api/v1/reps/"
															+ username)
											.then(
													function(response) {
														var index = representsMe
																.indexOf(username);
														$scope.representsMe
																.remove(index);
														$scope.message = "";
													},
													function(rejection) {
														$scope.message = "Could not remove personal representative."
													});
								}

								$scope.undeclareSelfAsRep = function(username) {
									$http
											.post(
													"iTrust2/api/v1/reps/"
															+ username)
											.then(
													function(response) {
														var index = iRepresent
																.indexOf(username);
														$scope.iRepresent
																.remove(index);
														$scope.message = "";
													},
													function(rejection) {
														$scope.message = "Could not remove self as personal representative."
													});
								}

							});
		</script>

		<div ng-app="viewPersonalRepresentatives" ng-controller="repCtrl">

			<!-- Info on tables from https://hello-angularjs.appspot.com/removetablerow -->
			<div class="container">
				<h2>Personal Representatives</h2>
			</div>

			<!-- List of patients representatives -->
			<div class="container">
				<div class="row">

					<!-- Column that represents patient representatives -->
					<div class="col-md-6">
						<div class="panel panel-primary">

							<!-- Header for patients Representatives -->
							<div class="panel-heading">
								<h3>Your Representatives</h3>
							</div>
							<div class="panel-body">
								<ul>
									<li ng-repeat="item in representMe">{{item}}</li>
								</ul>


								<!-- container for adding representatives -->
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Declare Personal
												Representative</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="declareRepForm"
													ng-submit="delcareRep()">

													<!-- Patient MID -->
													<div class="col-md-8">
														<div class="row">
															<input type="text" class="form-control"
																placeholder="Patient MID" name="declareUsername" 
																required />
														</div>
													</div>

													<!-- Submit Button -->
													<div class="col-md-4">
														<button type="submit" class="btn btn-success"
															ng-disabled="!declareRepForm.$valid" name="submit">Submit
														</button>
														<span ng-if="!isValid"> {{errorMessage}} </span>
													</div>


												</form>
											</div>
										</div>
									</div>
								</div>


								<!-- container for removing representatives -->
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Undeclare Personal
												Representative</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="undeclareRepForm"
													ng-submit="undelcareRep()">

													<!-- Patient MID -->
													<div class="col-md-8">
														<div class="row">
															<input type="text" class="form-control"
																placeholder="Patient MID" name="undeclareUsername" 
																required />
														</div>
													</div>

													<!-- Submit Button -->
													<div class="col-md-4">
														<button type="submit" class="btn btn-success"
															ng-disabled="!undeclareRepForm.$valid" name="submit">Submit
														</button>
														<span ng-if="!isValid"> {{errorMessage}} </span>
													</div>


												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!-- Column that represents patients that user represents  -->
					<div class="col-md-6">
						<div class="panel panel-primary">

							<!-- Header for patients Representatives -->
							<div class="panel-heading">
								<h3>Patients that You Represent</h3>
							</div>
							<div class="panel-body">
								<ul>
									<li ng-repeat="item in iRepresent">{{item}}</li>
								</ul>
								
								<!-- container for removing self as representatives -->
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Undeclare Yourself as Personal
												Representative</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="undeclareSelfRepForm"
													ng-submit="undeclareSelfAsRep()">

													<!-- Patient MID -->
													<div class="col-md-8">
														<div class="row">
															<input type="text" class="form-control"
																placeholder="Patient MID" name="undeclareSelfUsername" 
																required />
														</div>
													</div>

													<!-- Submit Button -->
													<div class="col-md-4">
														<button type="submit" class="btn btn-success"
															ng-disabled="!undeclareSelfRepForm.$valid" name="submit">Submit
														</button>
														<span ng-if="!isValid"> {{errorMessage}} </span>
													</div>


												</form>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>
</body>
</html>