<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Personal Representatives</title>

<!-- Angular and Bootstrap files  -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/
			var app = angular.module("viewPersonalRepresentatives", []);
			app.controller('repCtrl', function($scope, $http) {
				// get all personal representatives of patient and display in table	
				$scope.representsMe = [];
				$scope.iRepresent = [];
				$http.get("/iTrust2/api/v1/reps").then(
					function(response) {
						$scope.representsMe = response.data[0];
						$scope.iRepresent = response.data[1];
						$scope.isValid = true;
						$scope.errorMessage = "";
					}, function(rejection) {
						$scope.isValid = false;
						$scope.errorMessage = rejection.data.message;
					});
				
				$scope.declareRep = function(repUsername) {
					$http.post("/iTrust2/api/v1/declareRep/" + repUsername).then(
						function(response) {
							$scope.representsMe.push(response.data);
							$scope.isValid = true;
							$scope.errorMessage = "";
						}, function(rejection) {
							$scope.isValid = false;
							$scope.errorMessage = rejection.data.message;
						});
				}

				$scope.undeclareRep = function(username) {
					$http.post("/iTrust2/api/v1/undeclareRep/0-" + username).then(
						function(response) {
							var index = representsMe.indexOf(reponse.data);
							$scope.representsMe.remove(index);
							$scope.isValid = true;
							$scope.errorMessage = "";
						}, function(rejection) {
							$scope.isValid = false;
							$scope.errorMessage = rejection.data.message;
						});
				}

				$scope.undeclareSelfAsRep = function(username) {
					$http.post("iTrust2/api/v1/undeclareRep/1-" + username).then(
						function(response) {
							var index = iRepresent.indexOf(response.data);
							scope.iRepresent.remove(index);
							$scope.isValid = true;
							$scope.errorMessage = "";
						}, function(rejection) {
							$scope.isValid = false;
							$scope.errorMessage = rejection.data.message;
						});
				}

			});
		</script>

		<div ng-app="viewPersonalRepresentatives" ng-controller="repCtrl">

			<!-- Info on tables from https://hello-angularjs.appspot.com/removetablerow -->
			<div class="container">
				<h2>Personal Representatives</h2>
				<span ng-if="!isValid"> {{errorMessage}} </span>	
			</div>

			<!-- List of patients representatives -->
			<div class="container">
				<div class="row">

					<!-- Column that represents patient representatives -->
					<div class="col-md-6">
						<div class="panel panel-primary">

							<!-- Header for patients Representatives -->
							<div class="panel-heading">
								<h3>Your Representatives</h3>
							</div>
							<div class="panel-body">
							
								<table class="table table-bordered">
	
									<!-- table column headers -->
									<thead>
										<tr>
											<th>Patient MID</th>
											<th>First Name</th>
											<th>Last Name</th>
										</tr>
									</thead>
	
									<!-- Rep entry for every row -->
									<tbody>
										<tr name="repTableRow" ng-repeat="rep in representsMe">
											<td name="patientMIDCell">{{rep.username}}</td>
											<td name="firstNameCell">{{rep.firstName}}</td>
											<td name="lastNameCell">{{rep.lastName}}</td>
										</tr>
									</tbody>
								</table>


								<!-- container for adding representatives -->
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Declare Personal
												Representative</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="declareRepForm"
													ng-submit="declareRep(declareUsername)">

													<!-- Patient MID -->
													<div class="col-md-8">
														<div class="row">
															<input type="text" class="form-control"
																placeholder="Patient MID" name="declareUsername" 
																ng-model="declareUsername" required />
														</div>
													</div>

													<!-- Submit Button -->
													<div class="col-md-4">
														<button type="submit" class="btn btn-success"
															ng-disabled="!declareRepForm.$valid" name="submit">Submit
														</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>


								<!-- container for removing representatives -->
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Undeclare Personal
												Representative</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="undeclareRepForm"
													ng-submit="undeclareRep(undeclareUsername)">

													<!-- Patient MID -->
													<div class="col-md-8">
														<div class="row">
															<input type="text" class="form-control"
																placeholder="Patient MID" name="undeclareUsername" 
																ng-model="undeclareUsername" required />
														</div>
													</div>

													<!-- Submit Button -->
													<div class="col-md-4">
														<button type="submit" class="btn btn-success"
															ng-disabled="!undeclareRepForm.$valid" name="submit">Submit
														</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!-- Column that represents patients that user represents  -->
					<div class="col-md-6">
						<div class="panel panel-primary">

							<!-- Header for patients Representatives -->
							<div class="panel-heading">
								<h3>Patients that You Represent</h3>
							</div>
							<div class="panel-body">
								
								<table class="table table-bordered">
	
									<!-- table column headers -->
									<thead>
										<tr>
											<th>Patient MID</th>
											<th>First Name</th>
											<th>Last Name</th>
										</tr>
									</thead>
	
									<!-- Rep entry for every row -->
									<tbody>
										<tr name="repTableRow" ng-repeat="rep in iRepresent">
											<td name="patientMIDCell">{{rep.username}}</td>
											<td name="firstNameCell">{{rep.firstName}}</td>
											<td name="lastNameCell">{{rep.lastName}}</td>
										</tr>
									</tbody>
								</table>
								
								<!-- container for removing self as representatives -->
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Undeclare Yourself as Personal
												Representative</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="undeclareSelfRepForm"
													ng-submit="undeclareSelfAsRep(undeclareSelfUsername)">

													<!-- Patient MID -->
													<div class="col-md-8">
														<div class="row">
															<input type="text" class="form-control"
																placeholder="Patient MID" name="undeclareSelfUsername" 
																ng-model="undeclareSelfUsername" required />
														</div>
													</div>

													<!-- Submit Button -->
													<div class="col-md-4">
														<button type="submit" class="btn btn-success"
															ng-disabled="!undeclareSelfRepForm.$valid" name="submit">Submit
														</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>