<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>Admin Immunizations</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">


    <script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("immunizationsApp", []);
      app.controller('immunizationsCtrl', function ($scope, $http) {
    	  
    	var checkValidImmunization = function(immunization) {
    		var err = [];
    		if (immunization.description.length > 1024) {
    			err.push("Description exceeds character limit of 1024");
    		}
    		if (immunization.name.length > 64) {
    			err.push("Name exceeds the character limit of 64");
    		}
    		if (!/^\d{4}-\d{4}-\d{2}$/.test(immunization.code)) {
    			err.push("Code must be in the format XXXX-XXXX-XX");
    		}
    		return err.join(". ");
    	}

        $scope.immunizations = [];
        $scope.loadTable = function () {
          $http.get("/iTrust2/api/v1/immunizations").then(
            function (response) {
              $scope.immunizations = response.data;
              $scope.message = "";
            }, function (rejection) {
              $scope.immunizations = [];
              $scope.message = "Could not display immunizations";
            });
        }

        $scope.addImmunization = function () {
          var err = checkValidImmunization($scope.immunization);
          if (err) {
            $scope.errorAdding = err;
          } else {
            $http.post("/iTrust2/api/v1/immunizations", $scope.immunization).then(
              function (response) {
                $scope.loadTable();
                $scope.immunization.name = "";
                $scope.immunization.code = "";
                $scope.immunization.description = "";
                $scope.errorAdding = "";
              }, function (rejection) {
                $scope.errorAdding = "Could not add immunization";
              });
          }

        }

        $scope.deleteImmunization = function (immunization) {
          $http.delete('/iTrust2/api/v1/immunizations/' + immunization.id).then(
            function (response) {
              $scope.loadTable();
              $scope.message = "";
            }, function (rejection) {
              $scope.message = "Could not remove immunization";
            })
        }

        // gets the template to ng-include for a table row / item
        $scope.selectedImmunization = {};

        $scope.getTemplate = function (immunization) {
          if (immunization.id === $scope.selectedImmunization.id) return 'edit';
          else return 'view';
        };

        $scope.editImmunization = function (immunization) {
          $scope.selectedImmunization = angular.copy(immunization);
        };
        $scope.saveImmunization = function () {
       	  var err = checkValidImmunization($scope.selectedImmunization);
          if (err) {
            $scope.errorAdding = err;
          } else {
            $http.put("/iTrust2/api/v1/immunizations", $scope.selectedImmunization).then(
              function (response) {
                $scope.loadTable();
                $scope.resetSelected();
              }, function (rejection) {
                $scope.errorAdding = "Failed to edit immunization";
              });
          }
        };

        $scope.resetSelected = function () {
          $scope.selectedImmunization = {};
        };

        // load table initially
        $scope.loadTable();
      });
			/*]]>*/
    </script>



    <div ng-app="immunizationsApp" ng-controller="immunizationsCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3>Admin Manage Immunizations</h3>
              </div>
              <div class="panel-body">
                <table class="table table-bordered">
                  <caption>Existing Medications:</caption>
                  <thead>
                    <tr>
                      <th>Immunization</th>
                      <th>Code</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr name="immunizationTableRow" ng-repeat="i in immunizations | orderBy: 'name'" ng-include="getTemplate(i)" immunizationId={{i.id}}>
                    </tr>
                  </tbody>
                </table>
                <!-- table in view mode -->
                <script type="text/ng-template" id="view">
                  <td name="nameCell">{{i.name}}</td>
                  <td name="codeCell">{{i.code}}</td>
                  <td name="descriptionCell">{{i.description}}</td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                        <input type="button" value="Edit" class="btn btn-primary" name="editImmunization" ng-click="editImmunization(i)" />                         
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Delete" class="btn btn-danger" name="deleteImmunization" ng-click="deleteImmunization(i)" />                          
                      </div>
                    </div>
                  </td>
                </script>

                <!-- table in edit mode -->
                <script type="text/ng-template" id="edit">
                  <td name="editNameCell">
                    <input type="text" class="form-control" ng-model="selectedImmunization.name" />
                  </td>
                  <td name="editCodeCell">
                    <input type="text" class="form-control" ng-model="selectedImmunization.code" />
                  </td>
                  <td name="editDescriptionCell">
                    <input type="text" class="form-control" ng-model="selectedImmunization.description" />
                  </td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                          <input type="button" value="Save" class="btn btn-success" name="saveImmunization" ng-click="saveImmunization()" />                          
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Cancel" class="btn btn-danger" name="cancelEdit" ng-click="resetSelected()" />                            
                      </div>
                    </div>
                  </td>
                </script>

                <br>
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading ">Add a Immunization</div>
                      <div class="panel-body">
                        <form class="form-horizontal" role="form" name="addImmunizationForm" ng-submit="addImmunization(addImmunizationForm.$valid)">
                          <div class="row">
                            <div class="col-md-4">
                              <label>Name</label>
                              <input type="text" class="form-control" name="immunization" ng-model="immunization.name" required/>
                            </div>
                            <div class="col-md-4">
                              <label>Code</label>
                              <input type="text" class="form-control" placeholder="xxxx-xxxx-xx" name="code" ng-model="immunization.code" required />
                            </div>
                            <div class="col-md-4">
                              <label>Description</label>
                              <textarea class="form-control" rows="5" name="description" ng-model="immunization.description" required ng-minlength="1"></textarea>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 text-right">
                              <button type="submit" class="btn btn-success" name="submit">Submit</button>
                            </div>
                          </div>
                        </form>
                        <div>
                          <p style="color:red" ng-model="errorAdding" id="errP">{{errorAdding}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>

</html>

<!-- still here? -->