<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>Admin Vaccinations</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">


    <script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("vaccinationsApp", []);
      app.controller('vaccinationsCtrl', function ($scope, $http) {
    	  
    	var checkValidVaccination = function(vaccination) {
    		var err = [];
    		if (vaccination.description.length > 1024) {
    			err.push("Description exceeds character limit of 1024");
    		}
    		if (vaccination.name.length > 64) {
    			err.push("Name exceeds the character limit of 64");
    		}
    		if (!/^\d{5}$/.test(vaccination.code)) {
    			err.push("Code must be in the format XXXXX");
    		}
    		return err.join(". ");
    	}

        $scope.vaccinations = [];
        $scope.loadTable = function () {
          $http.get("/iTrust2/api/v1/vaccinations").then(
            function (response) {
              $scope.vaccinations = response.data;
              $scope.message = "";
            }, function (rejection) {
              $scope.vaccinations = [];
              $scope.message = "Could not display vaccinations";
            });
        }

        $scope.addVaccination = function () {
          var err = checkValidVaccination($scope.vaccination);
          if (err) {
            $scope.errorAdding = err;
          } else {
            $http.post("/iTrust2/api/v1/vaccinations", $scope.vaccination).then(
              function (response) {
                $scope.loadTable();
                $scope.vaccination.name = "";
                $scope.vaccination.code = "";
                $scope.vaccination.description = "";
                $scope.errorAdding = "";
              }, function (rejection) {
                $scope.errorAdding = "Could not add vaccination";
              });
          }

        }

        $scope.deleteVaccination = function (vaccination) {
          $http.delete('/iTrust2/api/v1/vaccinations/' + vaccination.id).then(
            function (response) {
              $scope.loadTable();
              $scope.message = "";
            }, function (rejection) {
              $scope.message = "Could not remove vaccination";
            })
        }

        // gets the template to ng-include for a table row / item
        $scope.selectedVaccination = {};

        $scope.getTemplate = function (vaccination) {
          if (vaccination.id === $scope.selectedVaccination.id) return 'edit';
          else return 'view';
        };

        $scope.editVaccination = function (vaccination) {
          $scope.selectedVaccination = angular.copy(vaccination);
        };
        $scope.saveVaccination = function () {
       	  var err = checkValidVaccination($scope.selectedVaccination);
          if (err) {
            $scope.errorAdding = err;
          } else {
            $http.put("/iTrust2/api/v1/vaccinations", $scope.selectedVaccination).then(
              function (response) {
                $scope.loadTable();
                $scope.resetSelected();
              }, function (rejection) {
                $scope.errorAdding = "Failed to edit vaccination";
              });
          }
        };

        $scope.resetSelected = function () {
          $scope.selectedVaccination = {};
        };

        // load table initially
        $scope.loadTable();
      });
			/*]]>*/
    </script>



    <div ng-app="vaccinationsApp" ng-controller="vaccinationsCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3>Admin Manage Vaccinations</h3>
              </div>
              <div class="panel-body">
                <table class="table table-bordered">
                  <caption>Existing Medications:</caption>
                  <thead>
                    <tr>
                      <th>Vaccination Name</th>
                      <th>CPT Code</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr name="vaccinationTableRow" ng-repeat="i in vaccinations | orderBy: 'name'" ng-include="getTemplate(i)" vaccinationId={{i.id}}>
                    </tr>
                  </tbody>
                </table>
                <!-- table in view mode -->
                <script type="text/ng-template" id="view">
                  <td name="nameCell">{{i.name}}</td>
                  <td name="codeCell">{{i.code}}</td>
                  <td name="descriptionCell">{{i.description}}</td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                        <input type="button" value="Edit" class="btn btn-primary" name="editVaccination" ng-click="editVaccination(i)" />                         
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Delete" class="btn btn-danger" name="deleteVaccination" ng-click="deleteVaccination(i)" />                          
                      </div>
                    </div>
                  </td>
                </script>

                <!-- table in edit mode -->
                <script type="text/ng-template" id="edit">
                  <td name="editNameCell">
                    <input type="text" class="form-control" ng-model="selectedVaccination.name" />
                  </td>
                  <td name="editCodeCell">
                    <input type="text" class="form-control" ng-model="selectedVaccination.code" />
                  </td>
                  <td name="editDescriptionCell">
                    <input type="text" class="form-control" ng-model="selectedVaccination.description" />
                  </td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                          <input type="button" value="Save" class="btn btn-success" name="saveVaccination" ng-click="saveVaccination()" />                          
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Cancel" class="btn btn-danger" name="cancelEdit" ng-click="resetSelected()" />                            
                      </div>
                    </div>
                  </td>
                </script>

                <br>
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading ">Add a Vaccination</div>
                      <div class="panel-body">
                        <form class="form-horizontal" role="form" name="addVaccinationForm" ng-submit="addVaccination(addVaccinationForm.$valid)">
                          <div class="row">
                            <div class="col-md-4">
                              <label>Name</label>
                              <input type="text" class="form-control" name="vaccination" ng-model="vaccination.name" required/>
                            </div>
                            <div class="col-md-4">
                              <label>CPT Code</label>
                              <input type="text" class="form-control" placeholder="xxxxx" name="code" ng-model="vaccination.code" required />
                            </div>
                            <div class="col-md-4">
                              <label>Description</label>
                              <textarea class="form-control" rows="5" name="description" ng-model="vaccination.description" required ng-minlength="1"></textarea>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 text-right">
                              <button type="submit" class="btn btn-success" name="submit">Submit</button>
                            </div>
                          </div>
                        </form>
                        <div>
                          <p style="color:red" ng-model="errorAdding" id="errP">{{errorAdding}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>

</html>

<!-- still here? -->