<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>Admin Vaccinations</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">


    <script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("vaccinationApp", []);
      app.controller('vaccinationCtrl', function ($scope, $http) {
    	  
    	var checkValidVaccination = function(vaccination) {
    		var err = [];
    		if (!/^\d{5}$/.test(vaccination.cptCode)) {
    			err.push("CPT Code must be in the format XXXXX");
    		}
    		if (vaccination.cptDescription.length > 128) {
    			err.push("CPT Description exceeds the character limit of 128");
    		}
    		if (vaccination.cvxCode.length > 3) {
    			err.push("CVX Code exceeds the character limit of 3");
    		}
    		if (vaccination.vaccineName.length > 128) {
    			err.push("Vaccine Name exceeds the character limit of 128");
    		}
    		if (vaccination.comments.length > 1024) {
    			err.push("Comments exceeds the character limit of 1024");
    		}
    		
    		return err.join(". ");
    	}

        $scope.vaccinations = [];
        $scope.loadTable = function () {
          $http.get("/iTrust2/api/v1/vaccinations").then(
            function (response) {
              $scope.vaccinations = response.data;
              $scope.message = "";
            }, function (rejection) {
              $scope.vaccinations = [];
              $scope.message = "Could not display vaccinations";
            });
        }

        $scope.addVaccination = function () {
          var err = checkValidVaccination($scope.vaccination);
          if (err) {
            $scope.errorAdding = err;
          } else {
            $http.post("/iTrust2/api/v1/vaccinations", $scope.vaccination).then(
              function (response) {
                $scope.loadTable();
                $scope.vaccination.cptCode = "";
                $scope.vaccination.cptDescription = "";
                $scope.vaccination.cvxCode = "";
                $scope.vaccination.vaccineName = "";
                $scope.vaccination.comments = "";
                $scope.errorAdding = "";
              }, function (rejection) {
                $scope.errorAdding = "Could not add Vaccination";
              });
          }

        }

        $scope.deleteVaccination = function (vaccination) {
          $http.delete('/iTrust2/api/v1/vaccinations/' + vaccination.id).then(
            function (response) {
              $scope.loadTable();
              $scope.message = "";
            }, function (rejection) {
              $scope.message = "Could not removevaccination";
            })
        }

        // gets the template to ng-include for a table row / item
        $scope.selectedVaccination = {};

        $scope.getTemplate = function (vaccination) {
          if (vaccination.id === $scope.selectedVaccination.id) return 'edit';
          else return 'view';
        };

        $scope.editVaccination = function (vaccination) {
          $scope.selectedVaccination = angular.copy(vaccination);
        };
        $scope.saveVaccination = function () {
       	  var err = checkValidVaccination($scope.selectedVaccination);
          if (err) {
            $scope.errorAdding = err;
          } else {
            $http.put("/iTrust2/api/v1/vaccinations", $scope.selectedVaccination).then(
              function (response) {
                $scope.loadTable();
                $scope.resetSelected();
              }, function (rejection) {
                $scope.errorAdding = "Failed to edit vaccination";
              });
          }
        };

        $scope.resetSelected = function () {
          $scope.selectedVaccination = {};
        };

        // load table initially
        $scope.loadTable();
      });
			/*]]>*/
    </script>



    <div ng-app="vacinationApp" ng-controller="vaccinationCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3>Admin Manage Vaccinations</h3>
              </div>
              <div class="panel-body">
                <table class="table table-bordered">
                  <caption>Existing Vaccinations:</caption>
                  <thead>
                    <tr>
                      <th>CPT Code</th>
                      <th>CPT Description</th>
                      <th>CVX Code</th>
                      <th>Vaccine Name</th>
                      <th>Comments</th>th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr name="vaccinationTableRow" ng-repeat="v in vaccinatinos | orderBy: 'vaccineName'" ng-include="getTemplate(d)" vaccinationId={{v.id}}>
                    </tr>
                  </tbody>
                </table>
                <!-- table in view mode -->
                <script type="text/ng-template" id="view">
                  <td name="cptCodeCell">{{v.cptCode}}</td>
                  <td name="cptDescriptionCell">{{v.cptDescription}}</td>
                  <td name="cvxCodeCell">{{v.cvxCode}}</td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                        <input type="button" value="Edit" class="btn btn-primary" name="editVaccination" ng-click="editVaccination(v)" />                         
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Delete" class="btn btn-danger" name="deleteVaccination" ng-click="deleteVaccination(v)" />                          
                      </div>
                    </div>
                  </td>
                </script>

                <!-- table in edit mode -->
                <script type="text/ng-template" id="edit">
                  <td name="editCptCodeCell">
                    <input type="text" class="form-control" ng-model="selectedVaccination.cptCode" />
                  </td>
                  <td name="editCptDescriptionCell">
                    <input type="text" class="form-control" ng-model="selectedVaccination.cptDescription" />
                  </td>
                  <td name="editCvxCodeCell">
                    <input type="text" class="form-control" ng-model="selectedVaccination.cvxCode" />
                  </td>
					<td name="editVaccineNameCell">
                    <input type="text" class="form-control" ng-model="selectedVaccination.vaccineName" />
                  </td>
				 <td name="editCommentsCell">
                    <input type="text" class="form-control" ng-model="selectedVaccination.comments" />
                  </td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                          <input type="button" value="Save" class="btn btn-success" name="saveVaccination" ng-click="saveVaccination()" />                          
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Cancel" class="btn btn-danger" name="cancelEdit" ng-click="resetSelected()" />                            
                      </div>
                    </div>
                  </td>
                </script>

                <br>
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading ">Add a Drug</div>
                      <div class="panel-body">
                        <form class="form-horizontal" role="form" name="addVaccinationForm" ng-submit="addVaccination(addVaccinationForm.$valid)">
                          <div class="row">
                            <div class="col-md-4">
                              <label>CPT Code</label>
                              <input type="text" class="form-control" name="cptCode" ng-model="vaccination.cptCode" required/>
                            </div>
                            <div class="col-md-4">
                              <label>CPT Description</label>
                              <input type="text" class="form-control" name="cptDescription" ng-model="vaccination.cptDescription" required />
                            </div>
                            <div class="col-md-4">
                              <label>CVX Description</label>
                              <input type="text" class="form-control" name="cvxCode" ng-model="vaccination.cvxCode" required />
                            </div>
                            <div class="col-md-4">
                              <label>Vaccine Name</label>
                              <input type="text" class="form-control" name="vaccineName" ng-model="vaccination.vaccineName" required />
                            </div>
                            <div class="col-md-4">
                              <label>Comments</label>
                              <input type="text" class="form-control" name="comments" ng-model="vaccination.comments" required />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 text-right">
                              <button type="submit" class="btn btn-success" name="submit">Submit</button>
                            </div>
                          </div>
                        </form>
                        <div>
                          <p style="color:red" ng-model="errorAdding" id="errP">{{errorAdding}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>

</html>

<!-- still here? -->